{% extends 'Base.html' %}
{% load static %}
{% block title %} Surveyor {% endblock title %}

{% block body %}

<div id="contents">
	<div id="about">
		<h1>About</h1>
		<h2>Vsurvey</h2>
		<p>Vsurvey is a survey conducting website. We welcome our customer to biring there products to get the best survey of there products. we have two columns one for the customers who want to register there products here and get surveyed by our genuine reviewers and the other ones are the customers who visit over site to  reviews.</p>
		<h2>Surveyor</h2>
		<p>
			User who want to register there products to get reviewed will register here.You can list your products here for survey.We give best service as survey for your products with true user feedback.The survey reports and info-graphics are generated automatically. The statistics of your product related information can we accessed from your account.You can add and delete as many as products in your company product list. You can manage these listed products from your account.You can apply filters for each product so that the users have a choice to survey the product from their choice.The survey and the information regarding the products are stored very securely.
		</p>
		<h2>Survey</h2>
		<p>
			Survey is the column where user came to give there review on our products and get rewards.Just three steps and few minutes thats it. Thats all what you need to earn exciting reward.Register now, Gives us your genuien feedback on our product, and earn exciting rewardsFill a simple form and get registered.Select the product of your choice from the available product we have, and do the Survey.User just have to answer few question regarding the product. His/Her experience of using the product. Share your genuien opinion with us.We will submit your feedback and thats it you can checkout to get your reward.We provide different reward, cashbacks, or exciting prices on different product. Give your feedback to us and get your reward.	
		</p>
		
	</div>
</div>
			
  
{% endblock body %}
