{% extends 'base.html' %}

{% block title %} companysurvey {% endblock title %}
{% block logout %}
{% if user.is_authenticated %}
    <li style="color:rgba(255,255,255,.55); padding: 8px;">Welcome {{user.first_name}}</li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
     </li> 
{% endif %}
    
{% endblock logout %}
{% block body %} 

    <div class="container-fluid">
        <div id="raw" class="raw">
            <div id="column1" class="col-md-2">
                <div class="sidebar">
                    <a  href="/dashbord">Home</a>
                    <a  href="/profile">Profile</a>
                    <a class="active" href="/product">Products</a>
                    <a  href="surveystats">Survey Statistics</a>
                </div>
            </div>
            <div id="column2" class="col-md-10"> 
                <div class="content"python>   
                    <h1 class="alert-danger text-center py-3 mt-3 " style="padding-left:20px;">Add Product</h1>
                    <form action="/addProduct" method="post" enctype="multipart/form-data" class="shadow p-5">
                        {% csrf_token %}
                        {% for fm in form2 %}
                        <div class="form-group mb-3">
                        {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                        </div>
                        {% endfor %}
                        <input type="submit" value="Submit" class="btn btn-primary">
                        {% if form2.non_field_errors %}
                            {% for error in form2.non_field_errors %}
                                <p class="alert alert-danger my-3">{{error}}</p>
                            {% endfor %}
                        {% endif %}
                    </form>    
                                  
                </div>
            </div>
        </div>
    </div>

{% endblock body %}