{% extends 'base.html' %}

{% block title %} companysurvey {% endblock title %}
{% block logout %}
{% if user.is_authenticated %}
    <li style="color:rgba(255,255,255,.55); padding: 8px;">Welcome {{user.first_name}}</li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
     </li> 
{% endif %}
    
{% endblock logout %}
{% block body %} 

    <div class="container-fluid">
        <div id="raw" class="raw">
            <div id="column1" class="col-md-2">
                <div class="sidebar">
                    <a  href="/dashbord">Home</a>
                    <a  href="/profile">Profile</a>
                    <a  href="/product">Products</a>
                    <a  href="surveystats">Survey Statistics</a>
                </div>
            </div>
            <div id="column2" class="col-md-10"> 
                <div class="content">   
                   <h1 class="alert-danger py-3 mt-3 " style="padding-left:20px;">User Profile
                        <a class="btn btn-primary" href="/editprofile" role="button" style="float:right; margin-right:20px;">Edit </a>
                        <a class="btn btn-primary" href="/updateprofile" role="button"  style="float:right; margin-right:20px;">Update </a>
                   </h1>
                    <img src="{{user.profile.profile_image.url}}" alt="" class="img-fluid img-thumbnail mt-2" width="150" height="150">
                    <p>Name: {{user.first_name}} {{user.last_name}}</p>
                    <p>Username: {{user.username}}</p>
                    <p>Email: {{user.email}}</p>
                    <p>Gender: {{user.profile.gender}}</p>
                    <p>Date Of Birth: {{user.profile.dob}}</p>
                    <p>Mobile No.: {{user.profile.mobileno}}</p>
                    <p>Companyname: {{user.profile.companyname}}</p>
                    <p>User Qualification: {{user.profile.userqualification}}</p>
                    <p>User Designation: {{user.profile.userdesignation}}</p>
                    <p>About Company: {{user.profile.companydescription}}</p>
                    <br>
                     <br>
                    <br>



                </div>
            </div>
        </div>
    </div>

{% endblock body %}


