{% extends 'Base.html' %}
{% load static %}
{% block title %} Survey {% endblock title %}

{% block body %}
<div id="adbox" >
	<div class="clearfix">
		<img src="{% static 'images/survey.jpg' %}" alt="Img" height="400" style="padding-bottom:20px;">
	<div>
			<h1 style="padding-bottom:10px;">Surveyee</h1>
			<h2 style="padding-bottom:10px;">Welcom to VSURVEY</h2>
			<p>Hey user get bored of your daily rutined life, would you like to try something new. Then try Survey.  </p>
			<p>Just three steps and few minutes thats it. Thats all what you need to earn exciting reward.</p>
			<p style="padding-bottom:20px;">Register now, Gives us your genuien feedback on our product, and earn exciting rewards.</p>
					
			<a href="/userregister" class="btn">Register</a>
			
		</div>
	</div>
</div>
<div id="contents" >
		<div id="tagline" class="clearfix">
			<h1 Style="padding-top:150px;">Our services</h1>
			<div>
				<p>
					Fill a simple form and get registered.
				</p>
				<p>
					Select the product of your choice from the available product we have, and do the Survey.
				</p>
				<p>
					User just have to answer few question regarding the product. His/Her experience of using the product. Share your genuien opinion with us.</p>
			</div>
			<div>
				<p>
					We will submit your feedback and thats it you can checkout to get your reward.</p>
				<p>
					We provide different reward, cashbacks, or exciting prices on different product. Give your feedback to us and get your reward.</p>
				<p>
					Dont Forget just the three simple Steps<b>... Resgister Now/ Give Feedback/ Earn Rewards...</b> Its just as simmple as that.</p>
			</div>
		</div>
	</div>
 
{% endblock body %}


