{% extends 'base.html' %}

{% block title %} usersurvey {% endblock title %}

{% block body %}

<main>
        <div id="jumbotron-style" class="container" style="position:absolute; top:80px;">
            <div class="jumbotron" style="position:relative; text-align:center; padding-top:20px; padding-bottom:20px;">
                <h3 class="display-4"><b>Welcome to User Survey</b></h3>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                <a class="btn btn-primary" href="/register" role="button">Register</a>
            </div>   
        </div>
    </main>

{% endblock body %}


 