*{
    margin:0;
    padding:0;

}
html, body {
    height:100%;
    width: 100%;
    background-color:#a8b9e0;
}
#container{
    min-height:100%
}
#main{
    overflow:auto;
    padding-bottom:100px;
}

#topheader {
background-color:#42588a;
}




.container {
    position: relative;
}
.jumbotron {
    background-color:#d3b1ee;
    position:relative;
    
}


.container-fluid{

    padding-left:0;
    padding-right:0;
}

.carousel-item {
    height:400px;
    width:1300px;
    background:rgb(85, 81, 81);
    color:white;
    position:relative;
    text-align:center;

}

.container {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding-bottom: 50px;
}
#cs-jumbotron{
    position:absolute; 
    top:80px;
    margin-bottom:20px;
}
.jumbotron{
    position:relative;
    text-align:center; 
    padding-top:20px; 
    padding-bottom:20px;
}



#signup-form{
    background-color:rgb(218, 207, 207);
    position:relative;
    width:50%;
    padding-top:20px;
    margin-top:250px;
}


#id_gender {
    list-style-type: none;
    display:inline-flex;
}

#id_gender > li{
    padding-left:10px;
}
#raw{
    display:flex;
}
#column1{
    flex:20%;

}

#column2{
    flex:80%;
}

.sidebar{
    margin:0;
    padding:0;
    width:220px;
    background-color:#56668b;
    position:sticky;
    height:100%;
    overflow-x:hidden;
    overflow-y:auto;
}

.sidebar a, .dropdown-btn{
    display:block;
    color:black;
    padding:16px;
    text-decoration:none;
}

.sidebar a.active{
    background-color:#04AA6D;
    color:white;
}
.sidebar a:hover:not(.active){
    background-color:#555;
    color:white;
}

div.content{
    margin-left:150px;
    margin-right:150px;
    padding:1px 16px;
    height:100%;

}

@media screen and (max-width:700px){
    .sidebar{
        width:100%;
        height:auto;
        position:relative;
    }
    .siderbar a{float:left;}
    div.content{margin-left:0;}
}

@media screen and (max-width:400px){
    .sidebar a{
        text-align:center;
        float:none;
    }
}

.dropdown-container{
    display:none;
    background-color:#262626;
    padding-left:8px;

}

.fa-caret-down{
    float:right;
    padding-right:8px;
}

#footer{
    position:relative;
    margin-top:-100px;
    clear:both;
}
.footer{
    background:#13295a;
    color:white;
    height:300px;
    position:relative;
}


.footer .footer-bottom {
    background:#42588a;
    color:white;
    height:50px;
    width:100%;
    text-align:center;
    position:absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;

}